* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-color: aqua;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Shantell Sans', cursive;
  user-select: none;
}

.about {
  position:relative;
  width: 600px ;
  background-color: rgb(26, 66, 66);
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: .5rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #151426,-3px -3px 30px #151426;
}

.list {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 80%;
}

.div {
  display: flex;
  justify-content: space-between;
  flex: 1;
  background-color: rgb(118, 168, 168);
  padding: 0.2rem 1rem;
  border-radius: 5px;
  position: relative;
}


.card {
  margin-top: 3rem;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.square {
  border: 10px solid rgb(11, 125, 125);
  width: 27%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;   
}

.square:hover{
    background-color: rgb(118, 168, 168);
    cursor: pointer;
  
}

h3 {
 font-size: 3.2rem;
}


.btn{
    margin-top: 2rem;
    padding: .8rem 2rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(118, 168, 168);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .2s;
}

.btn:hover{
    background-color: rgb(7, 78, 78);
    box-shadow: 1px 5px 5px black;
}


.bord{
  border-bottom: 2px solid cyan;
}

#index-x,#index-o{
  font-size: 1.8rem;
}



h4{
  align-self: center ;
}

span{
  align-self: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: aqua;
}

.color-name{
  color: aqua;
}

#login{
  position: absolute;
  z-index: 10;
  gap: .5rem;
  margin-top: 3rem;
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(7, 78, 78, 0.64);
  gap: 1.5rem;
  border-radius: 20px;
  transition-duration:.3s;
 
}

#login input{ 
  background-color:  rgb(118, 168, 168);
  border: none;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding: .5rem;
  position: relative;
}

#login input:focus{
  outline: none;
   border: 1.5px solid cyan;
}

main{
  position: relative;
}

#span{
  position: relative;
  font-size:16px;
  font-weight:normal ;
}

label{
  position: absolute;
  top: -10px;
  left: 5px;
  color: #e8e8e8;
  pointer-events:none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(.4,0,.2,1);
}



#login input:focus ~ #label{
  transform: translateY(-50%) scale(.8);
  padding: 0 .2rem;
}






#none{
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: rgb(31, 134, 134);
  transition: .2s;
}

#none:hover{
  background-color: rgb(7, 78, 78);
    box-shadow: 1px 5px 5px black;
}


.div h2{
  /* background-color: blue; */
  align-self: center;
}

#img-success-x,#img-success-o{
  display: none;
  width: 2rem;
}

.list,.card,.btn{
  display: none;
}


.color-red{
  color: red;
} 

.color-green{
  color: green;
}

.span{
  margin: 0 .6rem;
}

@media screen and (max-width: 575px){

  #login{
    width: 90%; 
    -webkit-column-gap:1.5rem;
  }
  #login input{
    width: 300px;
    background-color: red;
  }

  #img-success-x{
    display: none;
    position: absolute;
    top: -1.2rem;
    left: 0;
   
  }

  #img-success-o{
    display: none;
    position: absolute;
    top: -1.2rem;
    right: 0;
  }

  .div{
    gap: 8px;
  }

  .span{
    margin: 0 .3rem;
  }
}

